:root {
  --color-blue: #f1f6fb;
  --color-green: #00e022;
  --color-red: #dd3542;
  --color-gray-8E: #8e8e8e;
  --color-gray-DE: #dedede;
  --color-gray-CC: #cccccc;
  --color-gray-F7: #f7f7f7;
  --color-gray-FA: #fafafa;
  --color-blue-plomo: #abb9c7;
  --color-blue-plomo-50: #abb9c780;
  --color-text: #413e4d;
  --color-shadow: #00000029;

  --fw-normal: 400;
  --fw-bold: 700;

  --container-max-width: 1136px;
  --container-full-max-width: 1280px;
}

html,
body {
  color: var(--color-text);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: var(--fw-normal);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: var(--fw-bold);
}

.container {
  display: block;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 24px;
  width: calc(100% - 48px);

  &.full {
    max-width: var(--container-full-max-width);
  }
}
.row {
  display: flex;
  flex-wrap: wrap;

  &.justify-between {
    justify-content: space-between;
  }

  &.items-center {
    align-items: center
  }
}

/* INCLUDES */
@import "includes/animations";
@import "includes/modal";
@import "includes/form";

/* PAGES */
@import "pages/login";
@import "pages/admin";
